--extra-index-url https://www.paddlepaddle.org.cn/packages/stable/cpu/

paddlepaddle
paddleocr
pytesseract
pillow
langchain
langchain-community
langchain-openai
langchain-core
landingai-ade
pymupdf
pydantic_settings
chromadb
